<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>404 NOT Found</title>
        <link rel="icon" href="/assets/favicon.ico">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="/css/404.css" rel="stylesheet" />
    </head>
    <body>

<div class="page-404">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <!--BEGIN CONTENT-->
                <div class="inner-circle"><i class="fa fa-home"></i><span>404</span></div>
                <span class="inner-status">잘못된 경로로 접근하셨습니다.</span>
                <span class="inner-detail">
                    ÜniÜnity홈으로 재접속해주세요!
                    <br>
                    <a href="/" class="btn btn-info mtl"><i class="fa fa-home"></i>&nbsp;
                        Return home
                    </a> 
                </span>
            </div>
        </div>
    </div>
</div>