<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>ÜniÜnity</title>
    <!-- Favicon-->
    <link rel="icon" href="/assets/favicon.ico">
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"
        type="text/css" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" /> -->
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/council/css/mainpage.css" rel="stylesheet" />
</head>

<body>
    <!-- Navigation-->
    <nav class="navbar static-top mb-2 mt-2">
        <div class="container">
            <a class="navbar-brand" id="navbar-brand"><strong style="font-size: 30px;">ÜniÜnity</strong></a>

            <div class="d-grid gap-2 d-md-block">
                <a class="btn btn-primary" href="#" id="loginStatusBtn">로그인</a>
                <a class="btn btn-primary" href="#" id="signUpBtn">회원가입</a>
            </div>

        </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <div class="text-center">
                        <!-- Page heading-->
                        <h1 class="mb-5">대학교 인근 상권을 한눈에,<br><strong>ÜniÜnity</strong></h1>
                        <!-- Signup form-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- * * SB Forms Contact Form * *-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- This form is pre-integrated with SB Forms.-->
                        <!-- To make this form functional, sign up at-->
                        <!-- https://startbootstrap.com/solution/contact-forms-->
                        <!-- to get an API token!-->
                        <form class="form-subscribe" id="searchForm">
                            <!-- Email address input-->
                            <div class="row">
                                <div class="col">
                                    <input class="form-control form-control-lg search_input" type="search"
                                        placeholder="찾으시는 캠퍼스를 검색하세요." />
                                    <container class="rel_search">
                                        <ul class="pop_rel_keywords">
                                        </ul>
                                    </container>
                                </div>
                                <!-- <div class="col-auto"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">검색</button></div> -->
                            </div>
                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <!-- <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">Form submission successful!</div>
                                        <p>To activate this form, sign up at</p>
                                        <a class="text-white" href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                    </div>
                                </div> -->
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <!-- <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Icons Grid-->
    <section class="features-icons text-center">
        <div class="container">
            <div class="row">

                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex"><i style="color:black;"
                                class="bi bi-geo-alt m-auto "></i></div>
                        <h3>한눈에 보는 인근 상권 지도</h3>
                        <p class="lead mb-0">대학교 인근 소상공인 가게, 우리 학교와 제휴한 가게의 위치 정보를 한눈에 지도로 볼 수 있어요.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex"><i style="color:black;" class="bi bi-shop m-auto "></i>
                        </div>
                        <h3>자세한 제휴 정보</h3>
                        <p class="lead mb-0">우리 학교와 제휴한 가게 및 기업의 정보와 혜택을 볼 수 있어요.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex"><i style="color:black;"
                                class="bi bi-people m-auto "></i></div>
                        <h3>대학교와 인근 상권의 <br>커뮤니티</h3>
                        <p class="lead mb-0">재학생에게 소상공인 가게 정보를 제공하며, 재학생과 소상공인이 소통하는 커뮤니티 제공해요. </p>
                        <div id="map" style="width:500px;height:400px;">
                            <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=발급받은 APP KEY를 넣으시면 됩니다."></script>
                            <script>
                                var container = document.getElementById('map');
                                var options = {
                                    center: new kakao.maps.LatLng(33.450701, 126.570667),
                                    level: 3
                                };
                                var map = new kakao.maps.Map(container, options);
                            </script>
                        
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Footer-->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                    <ul class="list-inline mb-2">
                        
                        <li class="list-inline-item"><a href="/contact">Contact</a></li>
                        
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2023. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a href="https://instagram.com/dev_aerim"><i class="bi-instagram fs-3"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->

    <script type="module" src="/council/js/mainpage.js"></script>
    <script type="module" src="/council/js/apiUrl.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
</body>

</html>
