#universityName,
#main_retailer,
#partner,
#post{
    color:var(--bs-gray-900);
    background-color: white;
    border-color: white;
}

.btn {
    font-weight: normal !important;
}

.btn:hover {
    font-weight: bold !important; 
} 

.category{
    border: 1px solid;
    border-color: #dee2e6;
}

#category-bar{
    line-height: 60px;
    color: rgba(0,0,0,0.1);
}

#more_news:hover {
    cursor: pointer;
    font-weight: 500;
}

#more_retailer:hover {
    cursor: pointer;
    font-weight: 500;
}

.swiper-container {
    width: 100%; 
    height: 400px;
    overflow: hidden;
}

.swiper-slide img {
    width: 300px;
    height: 300px;
    margin-top: 50px;
}

.swiper-slide {
    width: calc(100% / 3);
    align-items: center;
}

.swiper-button-prev {
    color:rgb(83, 81, 81);
    transform: scale(0.7);
}

.swiper-button-next {
    color:rgb(83, 81, 81);
    transform: scale(0.7);
}

#loginStatusBtn:focus, #loginStatusBtn:active {
    background-color: #FFD400;
    box-shadow: none; 
    border-color: white;
}

#signUpBtn:focus, #signUpBtn:active {
    background-color: #FFD400;
    box-shadow: none; 
    border-color: white;
}

.footer a:hover {
    color: inherit; 
}

/* .footer i:hover {
    color: inherit; 
} */


/*
body {
    height: 1440px;
    margin: 0;
}

.container {
    width: 100%;
    display: grid;
    grid-template-rows: 80px 500px 600px 100px;
    gap: 10px;
}

.temp-box {
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: 700;
}

a {
    text-decoration-line: none;
    color: black;
}

a:hover {
    color: rgb(83, 81, 81); 
}

.temp-box {
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: 700;
}

  .map {
    height: 530px;
    width: 1200px;
  
} 

 .swiper-wrapper {
    overflow: hidden;
}  

#userName {
    font-size: 10px;
    font-weight: 600;
}

.name {
    font-size: 10px;
    font-weight: 600;
}

#temp-box1 {
    background-color: #FDF0A5;
}

.menu {
    font-size: 20px;
    list-style: none;  
}

.category {
    list-style: none;
    float: left;
}

.main-news {
    font-size: 25px;
    height: 55px;
}

.stores {
    font-size: 25px;
    height: 400px;
}

#more_retailer {
    font-size: 15px;
    float: right;
    margin-right: 120px;
    margin-top: 5px;
}

#news {
    font-size: 15px;
    float: right;
    margin-right: 120px;
    margin-top: 5px;
}

#more_university {
    font-size: 15px;
    float: right;
    margin-right: 120px;
    margin-top: 5px;
}

li {
    float: left;
    margin-top: 10px;
    margin-left: 13%;
}
*/